

body{
    background-color: beige;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid;
    min-height: 90vh;
}

.Login {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    margin: 0 auto;
    max-width: 50%;


}

.Login > *{
    padding: 2px;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 80% 20%;

    grid-template-areas: "video video video  "
                         "toolbar toolbar toolbar   " ;
}

.container-sidebar{
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-rows: 80% 20%;
   justify-content: center;
   align-items: center;
   
   grid-template-areas: "video sidebar"
                        "toolbar toolbar";
                        
   margin-top:20px;                 

}

.video{
    grid-area: video;
    margin: 0 auto;
    padding-top: 10px;



    
}
.video-accepted{
    grid-area: video;
    padding-top: 10px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#e2e2d5;    

}
.video-accepted * {
    max-width: 90%;
    padding-top: 5%;

}
.video-accepted div{
    margin: 0 auto;
    align-items: center;
    
}


.sidebar{
    margin-bottom: 5%;
    color: white;
    grid-area: sidebar;
    min-height: 100%;
    background-color:  rgb(63, 81, 181) ;
    border: 3px solid black;

}
.sidebar Button{
    margin: 10px;
    
}

.toolbar{
    grid-area: toolbar;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    grid-gap: 15px;
}

.loading img{
   width: 100%;
   height: 100%;
}

.noticall{
    background-image: url("https://media0.giphy.com/media/mbW2nvTE0TUc5IgRMm/giphy.gif");
}


/* admin stuff below*/
.Admin{
    display:flex;
    flex-direction: row;
    padding-top: 2%;
    grid-gap: 5%;
    justify-content: center;

}
 
.Admin .patients{ 
    min-width: 45%;
    border: 1px solid black;
    max-height: 60vh;
   
}

.Admin  h3{
    border-bottom: 5px solid black;
}
.Admin .logopedies{ 
    min-width: 45%;
    border: 1px solid black;

}
.Admin *{
    text-align: center;
    
}
.Admin Button{
    margin: 10px;
}

.Admin  .card{
    margin: 0 auto;
    border: 1px solid black;
    width: 90%;
}
.Admin  .card h5{
    font-weight: bold;
    font-size: 20px;
    float: left;
    width:75%;
    
}

.notification{
    margin: 0 auto;
    margin-left: 45%;

    display:flex;
    flex-direction: column;
    animation: .8s shake infinite alternate;
    font-size: 20px;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, 
                      #7794ff, 
                      #44107A,
                      #FF1361,
                      #FFF800);
    animation: .8s shake infinite alternate;
  }

.notification Button{
    background-color: #90ee90;
    color: black;
    
}


@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  