

body{
    background-color: beige;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid;
    min-height: 90vh;
}

.Login {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    margin: 0 auto;
    max-width: 50%;


}

.Login > *{
    padding: 2px;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "video  "
                         "toolbar   "    
}

.container-sidebar{
   display: grid;
   grid-template-columns: 70% 30%;
   grid-template-rows: 70% 30%;
   justify-content: center;
   align-items: center;
   grid-template-areas: "video sidebar "
                        "toolbar toolbar  "
                        
                    

}

.video{
    grid-area: video;

    max-width: 75%;
    padding: 10%;


    
}
.video-accepted{
    grid-area: video;

    display:flex;
    flex-direction: row;

}
.video-accepted * {
    max-width: 40%;
    margin: 0 auto;
    padding-top: 25%;
}

.sidebar{
    margin-top: 5%;
    margin-bottom: 5%;
    grid-area: sidebar;
    min-height: 100%;
    border: 5px solid rgb(63, 81, 181) ;

}
.sidebar Button{
    margin: 10px;
    
}
.toolbar{
    grid-area: toolbar;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    grid-gap: 15px;
}

.loading img{
   width: 100%;
   height: 100%;
}

.noticall{
    background-image: url("https://media0.giphy.com/media/mbW2nvTE0TUc5IgRMm/giphy.gif");
}


/* admin stuff below*/
.Admin{
    display:flex;
    flex-direction: row;
    padding-top: 2%;
    grid-gap: 5%;
    justify-content: center;

}
 
.Admin .patients{ 
    min-width: 45%;
    border: 1px solid black;
    max-height: 60vh;
   
}

.Admin  h3{
    border-bottom: 5px solid black;
}
.Admin .logopedies{ 
    min-width: 45%;
    border: 1px solid black;

}
.Admin *{
    text-align: center;
    
}
.Admin Button{
    margin: 10px;
}

.Admin  .card{
    margin: 0 auto;
    border: 1px solid black;
    width: 90%;
}
.Admin  .card h5{
    font-weight: bold;
    font-size: 20px;
    float: left;
    width:75%;
    
}

.notification{
    display:flex;
    flex-direction: column;
    animation: .8s shake infinite alternate;
    font-size: 20px;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, 
                      #7794ff, 
                      #44107A,
                      #FF1361,
                      #FFF800);
    animation: .8s shake infinite alternate;
  }

.notification Button{
    background-color: #90ee90;
    color: black;
}


@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  